@import './val';
@import './base/config-web';


body{
    background: blueviolet;
}
.container{
    max-width: 1200px;
    margin: auto;
}
header{
    background:pink ;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            img{
                height: 100px;
                width: 300px;
            }
            .cart-signup-signin{
                color:rgb(73, 25, 117); 
            }
        }

    }
}    