.blogs{
    >h1{
        margin-left: 40px;
    }
    padding-top: 80px;
    .slider{
        .item{
            a{
                padding-top: 30px;
                color: black;
                display: flex;
                img{
                    width: 30%;
                    width: 400px;
                    height: 450px;
                }
                .noidung{
                    padding: 30px 40px;
                    line-height: 30px;
                    h1{
                        font-size: 15px;
                        padding-bottom: 20px;
                    }
                    p{
                        padding-bottom: 5px;
                        color: rgba($color: black, $alpha: 0.6);  
                    }
                    p.click{
                        border: 1px solid snow;
                        border-radius: 2px;
                        padding: 3px 10px;
                        background: #333;
                        color: blanchedalmond;
                        width: 135px;
                        i{
                            font-size: 20px;
                            margin-left: 10px;
                            margin-top: 8px;
                        }
                    }

                }
            }
        }
    }
}